In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("ANN_Dataset.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
x=data.iloc[:,3:-1].values
y=data.iloc[:,-1].values
print(x)
print(y)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x[:,2]=le.fit_transform(x[:,2])
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

cf=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x=np.array(cf.fit_transform(x))
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [8]:
#initializing the ann
ann=tf.keras.models.Sequential()

In [9]:
#adding the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [10]:
#adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [11]:
#adding the output layer
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [12]:
#compiling the ANN
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [13]:
#training the ANN on training set
ann.fit(x_train,y_train,batch_size=32,epochs=50)

Epoch 1/50
250/250 [==============================] - 1s 2ms/step - loss: 0.6846 - accuracy: 0.6040
Epoch 2/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4899 - accuracy: 0.7896
Epoch 3/50
250/250 [==============================] - 1s 3ms/step - loss: 0.4514 - accuracy: 0.7961
Epoch 4/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4357 - accuracy: 0.7989
Epoch 5/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4270 - accuracy: 0.8024
Epoch 6/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4199 - accuracy: 0.8094
Epoch 7/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4131 - accuracy: 0.8158
Epoch 8/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8227
Epoch 9/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3978 - accuracy: 0.8253
Epoch 10/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3911 - accuracy: 0.8305
Epoch 11/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3850 - accuracy: 0.8335
Epoch 12/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3791 - accuracy: 0.8338
Epoch 13/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3724 - accuracy: 0.8424
Epoch 14/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3666 - accuracy: 0.8451
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3610 - accuracy: 0.8497
Epoch 16/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3574 - accuracy: 0.8528
Epoch 17/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3548 - accuracy: 0.8511
Epoch 18/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3531 - accuracy: 0.8522
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3513 - accuracy: 0.8544
Epoch 20/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3502 - accuracy: 0.8551
Epoch 21/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3491 - accuracy: 0.8566
Epoch 22/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8568
Epoch 23/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3469 - accuracy: 0.8568
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8571
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3456 - accuracy: 0.8583
Epoch 26/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3449 - accuracy: 0.8583
Epoch 27/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8583
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3435 - accuracy: 0.8583
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3430 - accuracy: 0.8594
Epoch 30/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3426 - accuracy: 0.8596
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3417 - accuracy: 0.8584
Epoch 32/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8584
Epoch 33/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8586
Epoch 34/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8597
Epoch 35/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8590
Epoch 36/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8572
Epoch 37/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8602
Epoch 38/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8587
Epoch 39/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8579
Epoch 40/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3392 - accuracy: 0.8597
Epoch 41/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8595
Epoch 42/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8600
Epoch 43/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8587
Epoch 44/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8599
Epoch 45/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8597
Epoch 46/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8600
Epoch 47/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3377 - accuracy: 0.8602
Epoch 48/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8606
Epoch 49/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3376 - accuracy: 0.8590
Epoch 50/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3373 - accuracy: 0.8596

In [17]:
print(ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>0.5)

1/1 [==============================] - 0s 200ms/step
[[False]]

In [18]:
y_pred=ann.predict(x_test)
y_pred=(y_pred>0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 2ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_pred,y_test)

[[1539   56]
 [ 212  193]]

0.866